.picrossCel{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    vertical-align:top;
}

table{
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

td{
    height: 30;
    width: 30;
}