.picrossCel{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    vertical-align:top;
}

table{
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

td{
    height: 30;
    width: 30;
}

.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
}
.verticalTableHeader:before {
    content:'';
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
}
